// Backstretch después de cargar el DOM y Turbolinks
document.addEventListener('turbolinks:load', function () {
  $.backstretch("<%= image_path 'imagen.jpeg' %>");
});

// Backstretch después de cargar el DOM con Jquery 3
// $(function(){
//  $.backstretch("https://images.pexels.com/photos/17658/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
// });

// Backstretch después de cargar el DOM con Javascript
// document.addEventListener('DOMContentLoaded', function () {
//  $.backstretch("https://images.pexels.com/photos/17658/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
// });